
/* CUSTOM CSS */

/* Dropdown columns */
.ym{
    background-color: #FED700;
}

* {
        margin: 0;
        padding: 0;
        
    }
  
    .dropdown-menu.columns-2 {
        min-width: 400px;
    }
    
    .dropdown-menu li a {
        padding: 5px 15px;
        font-weight: 300;
    }
    .multi-column-dropdown {
        list-style: none;
    }
    .multi-column-dropdown li a {
        display: block;
        clear: both;
        line-height: 1.428571429;
        color: #333;
        white-space: normal;
    }
    .multi-column-dropdown li a:hover {
        text-decoration: none;
        color: #262626;
        background-color: #fed700;
    }
     
    @media (max-width: 767px) {
        .dropdown-menu.multi-column {
            min-width: 240px !important;
            overflow-x: hidden;
        }
    }

    li {
        list-style-type: none;
    }

    hr.yellow-dashed{
        
        border-top: 2px dashed #fed700;
    }

    .multi-column-dropdown li a {
        padding: 0.5em;
    }

    .dropdown-item:hover, .dropdown-item:focus {
    background-color: #fed700 !important;
    }

    ul.navbar-nav {
    font-weight: 600;
}

    @media (min-width: 992px){
    
        .navbar-expand-lg .navbar-nav .nav-link {
            padding-right: 0.8rem;
            padding-left: 0.8rem;
        }
    }

/* Dropdown columns */

/* ============ desktop view hover in nav dropdown ============ */
@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu{ display: none; }
    .navbar .nav-item:hover .nav-link{ color: rgba(0, 0, 0, 0.7);  }
    .navbar .nav-item:hover .dropdown-menu{ display: block; }
    .navbar .nav-item .dropdown-menu{ margin-top:0; }
}   
/* ============ desktop view hover in nav dropdown .end// ============ */


/* Footer */
footer {
    background-color: #f8f8f8;
    padding: 20px 0px;
}        

footer ul li{
    padding:5px 0px;
}

.adress span , .contact span , .social span{
   color: black; 
   font-weight: 800; 
   padding-bottom: 10px; 
   margin-bottom: 20px;
   display: block;
   text-transform: uppercase;
   font-size: 20px;
   letter-spacing: 3px;
}
 
.adress li p , .contact li a , .social li a{
    color:black;
    letter-spacing: 2px;
    text-decoration:none;
    font-size:15px;
}

.social li{
    float:left;
}

.adress , .contact , .social {
    list-style: none;
}

.fa{
    color:#9c9c9c;
    margin-right: 15px;
    font-size:14px;
}

.footer-copyright.text-center.py-3 {
    background-color: #fed700;
}

.footer-slogan
{
    font-family: Helvetica Neue, Cursive;
}

.footer-slogan {
    font-family: Bebas Neue, cursive;
}

.footer-title{
    font-family: Bebas Neue, cursive;

}

.footer-subtitle{
    font-size: 1.1em !important;
    
}



/* Footer .end */

/* Remove Arrows number login */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Remove Arrow .end */