
/* CUSTOM CSS */



/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 8.5px;
 overflow: hidden;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #e2bf00; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ceae01; 

}

/* Scrollbar .end */
/* Container * */

@media (min-width: 1200px){
.container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1240px !important;
}
}

/* Container .end */

/* Dropdown columns */
.ym{
    background-color: #FED700;
}

* {
        margin: 0;
        padding: 0;
        
    }
  
    .dropdown-menu.columns-2 {
        min-width: 400px;
    }
    
    .dropdown-menu li a {
        padding: 5px 15px;
        font-weight: 300;
    }
    .multi-column-dropdown {
        list-style: none;
    }
    .multi-column-dropdown li a {
        display: block;
        clear: both;
        line-height: 1.428571429;
        color: #333;
        white-space: normal;
    }
    .multi-column-dropdown li a:hover {
        text-decoration: none;
        color: #262626;
        background-color: #fed700;
    }
     
    @media (max-width: 767px) {
        .dropdown-menu.multi-column {
            min-width: 240px !important;
            overflow-x: hidden;
        }
    }

    li {
        list-style-type: none;
    }

    hr.yellow-dashed{
        
        border-top: 2px dashed #fed700;
    }

    .multi-column-dropdown li a {
        padding: 0.5em;
    }

    .dropdown-item:hover, .dropdown-item:focus {
    background-color: #fed700 !important;
    }

    ul.navbar-nav {
    font-weight: 600;
}

    @media (min-width: 992px){
    
        .navbar-expand-lg .navbar-nav .nav-link {
            padding-right: 0.8rem;
            padding-left: 0.8rem;
        }
    }

/* Dropdown columns */

/* ============ desktop view hover in nav dropdown ============ */
@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu{ display: none; }
    .navbar .nav-item:hover .nav-link{ color: rgba(0, 0, 0, 0.7);  }
    .navbar .nav-item:hover .dropdown-menu{ display: block; }
    .navbar .nav-item .dropdown-menu{ margin-top:0; }
}   
/* ============ desktop view hover in nav dropdown .end// ============ */


/* Footer */
footer {
    background-color: #f8f8f8;
    padding: 20px 0px;
}        

footer ul li{
    padding:5px 0px;
}

.adress span , .contact span , .social span{
   color: black; 
   font-weight: 800; 
   padding-bottom: 10px; 
   margin-bottom: 20px;
   display: block;
   text-transform: uppercase;
   font-size: 20px;
   letter-spacing: 3px;
}
 
.adress li p , .contact li a , .social li a{
    color:black;
    letter-spacing: 2px;
    text-decoration:none;
    font-size:15px;
}

.social li{
    float:left;
}

.adress , .contact , .social {
    list-style: none;
}

.fa{
    color:#9c9c9c;
    margin-right: 15px;
    font-size:14px;
}

.footer-copyright.text-center.py-3 {
    background-color: #fed700;
}

.footer-slogan
{
    font-family: Helvetica Neue, Cursive;
}

.footer-slogan {
    font-family: Bebas Neue, cursive;
}

.footer-title{
    font-family: Bebas Neue, cursive;

}

.footer-subtitle{
    font-size: 1.1em !important;
    
}



/* Footer .end */

/* Remove Arrows number login */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Remove Arrow .end */


/* Products and body section */


.product-title{
   text-align: center;
   margin-top: 1em;

}

/********************* Shopping Demo-6 **********************/
.product-grid6,.product-grid6 .product-image6{overflow:hidden}
.product-grid6{text-align:center;position:relative;transition:all .5s ease 0s}
.product-grid6:hover{box-shadow:0 0 10px rgba(0,0,0,.3)}
.product-grid6 .product-image6 a{display:block}
.product-grid6 .product-image6 img{width:100%;height:auto;transition:all .5s ease 0s}
.product-grid6:hover .product-image6 img{transform:scale(1.1)}
.product-grid6 .product-content{padding:50px 12px 15px;transition:all .5s ease 0s}
.product-grid6:hover .product-content{opacity:0}
.product-grid6 .title{font-size:18px;font-weight:500;text-transform:capitalize;margin:0 0 10px;transition:all .3s ease 0s}
.product-grid6 .title a{color:#000}
.product-grid6 .title a:hover{color:#2e86de}
.product-grid6 .price{font-size:18px;font-weight:600;color:#fed700}
.product-grid6 .price span{color:#fed700;font-size:15px;font-weight:400;text-decoration:line-through;margin-left:7px;display:inline-block}
.product-grid6 .social{background-color:transparent;width:100%;padding:0;margin:0;list-style:none;opacity:0;transform:translateX(-50%);position:absolute;bottom:-50%;left:84%;z-index:1;transition:all .5s ease 0s}
.product-grid6:hover .social{opacity:1;bottom:20px}
.product-grid6 .social li{display:inline-block}
.product-grid6 .social li button{color:#909090;font-size:16px;line-height:45px;text-align:center;height:45px;width:45px;margin:0 14px;border:1px solid #909090;border-radius:50px;display:block;position:relative;transition:all .3s ease-in-out}
.product-grid6 .social li button:hover{color:#fff;background-color:#fed700;width:80px}
.product-grid6 .social li button:after,.product-grid6 .social li button:before{content:attr(data-tip);color:white;background-color:#fed700;font-size:12px;letter-spacing:1px;line-height:20px;padding:1px 5px;border-radius:5px;white-space:nowrap;opacity:0;transform:translateX(-50%);position:absolute;left:50%;top:-30px}
.product-grid6 .social li button:after{content:'';height:15px;width:15px;border-radius:0;transform:translateX(-50%) rotate(45deg);top:-20px;z-index:-1}
.product-grid6 .social li button:hover:after,.product-grid6 .social li button:hover:before{opacity:1}
@media only screen and (max-width:990px){.product-grid6{margin-bottom:30px}
}

i.fa.fa-shopping-cart {
    margin-right: 0;
}

.product {
    padding-bottom: 2em;
    padding-top: 2em;
}


/* Products and body section .end */

/* Banners */
.banner-img{
    width: 100%;
}

.banner {
    padding-top: 3rem;
}
/* Banners .end*/

/*Product page */


.product-image {
    width: 90%;
}

img.pic-1 {
    width: 100%;
}

.product-content-page {
    margin-top: 3em;
}

.price-page p {
    color: #FED700;
    font-size: 2em !important;
}



i.fa.fa-shopping-cart {
    color: black;
}

i.fa.fa-shopping-cart:hover {
    color: black;
}

.product-content-page i.fa.fa-shopping-cart {
    color: white;
}


/*Product Page .end */

/* Cart */

.site-header__cart-count {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    
   /* font-weight: bold; */
    background-color: #feee00;
    color: #000;
    border-radius: 50%;
    min-width: 1em;
    height: 1em;
}

.site-header__account, .site-header__cart {
    padding: 10px 11px;
}

li.nav-item.shopping__bag {
    width: 17%;
    padding-top: 1.2em;

}


.right-menu {
    padding: 0.8em;
}

div#CartCount {
    /* text-align: right; */
    margin-left: 2em;
    margin-top: -1.7em;
}

.newPrecio{
    display:none;
}

.cart{

    padding-top:1em;
    padding-bottom: 4em !important;
}

.cart-title{
    text-align: center;
}

.cart-total{
    text-align: right;
}

.cart-nothing-title{

    text-align: center;
    font-size: 1.5em;
    padding: 5em;
}

/* Cart .end */

/* Categories */
 .category-title{
   text-align: center;
   padding-top: 1em;
   padding-bottom: 1em;
 }
/* Categories end */
